name: Build and Upload Canary
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Bun Install
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build Canary
        run: bun run package:auto-prod
        env:
          BUILD_DIR: ./build/${{ runner.os }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: canary-build-${{ runner.os }}
          path: build/${{ runner.os }}
